<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistoryPayment"></activity>
        <activity android:name=".ui.Feedback.FeedbackActivity" />
        <activity android:name=".FavoriteProduct" />
        <activity
            android:name=".ui.Model.AddToCart"
            android:parentActivityName=".EcommerceMain" />
        <activity android:name=".Payment" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OtpActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PhoneAuthentication" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UserProfile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SendEmail" />
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NavActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Shoes7"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".CarrierList2"
            android:parentActivityName=".NavActivity" />
        <activity
            android:name=".EcommerceMain"
            android:parentActivityName=".NavActivity" />
        <activity
            android:name=".Shoes1"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Shoes2"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Shoes3"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Shoes4"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Shoes5"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Shoes6"
            android:parentActivityName=".ShoesPagesJava" />
        <activity
            android:name=".Bag1"
            android:parentActivityName=".EcommerceMain" />
        <activity
            android:name=".ComesticPagesJava"
            android:parentActivityName=".EcommerceMain" />
        <activity
            android:name=".ShoesPagesJava"
            android:parentActivityName=".EcommerceMain" />
        <activity
            android:name=".BagsPagesJava"
            android:parentActivityName=".EcommerceMain" />
        <activity
            android:name=".Bag2"
            android:parentActivityName=".BagsPagesJava" />
        <activity
            android:name=".Bag3"
            android:parentActivityName=".BagsPagesJava" />
        <activity
            android:name=".Bag4"
            android:parentActivityName=".BagsPagesJava" />
        <activity
            android:name=".Bag5"
            android:parentActivityName=".BagsPagesJava" />
        <activity
            android:name=".Bag6"
            android:parentActivityName=".BagsPagesJava" />
        <activity
            android:name=".Comestic2"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".Comestic1"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".Comestic3"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".Comestic4"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".Comestic5"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".Comestic6"
            android:parentActivityName=".ComesticPagesJava" />
        <activity
            android:name=".CarrierList"
            android:parentActivityName=".NavActivity" />
        <activity android:name=".ChatActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>